name: Build TDLib for Android

on:
  push:
    branches:
      - master
      
  pull_request:
    branches:
      - master

jobs:
   build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v4.2.1
      with:
        java-version: '17'


    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          autoconf \
          automake \
          build-essential \
          clang \
          cmake \
          git \
          libssl-dev \
          pkg-config \
          zlib1g-dev \
          unzip \
          wget \
          php \
          perl \
          gperf

    - name: Check environment
      run: |
        cd example/android
        ./check-environment.sh

    - name: Fetch Android SDK
      run: |
        cd example/android
        ./fetch-sdk.sh

    - name: Build OpenSSL
      run: |
        cd example/android
        ./build-openssl.sh

    - name: Build TDLib
      run: |
        cd example/android
        ./build-tdlib.sh

    - name: Compress tdlib folder
      run: |
        cd example/android
        zip -r tdlib.zip tdlib

    - name: Upload tdlib folder as zip
      uses: actions/upload-artifact@v2
      with:
        name: tdlib-android
        path: example/android/tdlib.zip
